/* body rules start */
* {
  box-sizing: border-box;
  color: #323330;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-image: url(media/angular.jpg);
  margin: 0;
  padding: 0;
  margin: 70px 0 30px 0;
}
/* body rules end */

/* main rules start */
header,
.skills,
.workexperience,
.about,
footer {
  background-color: #ffffff;
}

header::before,
.skills::before,
.workexperience::before,
.about::before,
footer::before {
  position: absolute;
  top: -13px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: bolder;
  padding: 2px;
  cursor: pointer;
  transition: 3s;
}

.skills:hover,
.workexperience:hover,
.about:hover,
footer:hover {
  box-shadow: 0 5px 10px #999999, 0 5px 10px #b2b2b2;
  background-color: #e2e1e0;
  transform: scale(1.1);
  transition: 2s;
}
.about:hover::before,
.workexperience:hover::before,
.skills:hover::before,
footer:hover::before {
  color: #ff0000;
  background-color: #e2e1e0;
  animation-name: skill;
  animation-duration: 3s;
}
@keyframes skill {
  50% {
    left: 20px;
  }
  75% {
    left: 50px;
  }
  100% {
    left: 20px;
  }
}
/* main rules end */

/* container  start*/
.container {
  display: grid;
  grid-gap: 30px;
  background: #e2e1e0;
  width: 90%;
  margin: 0 auto;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "head head head"
    "article work skill"
    "foot foot foot";
}

header {
  grid-area: head;
}
.article-lorem {
  grid-area: article;
}
.workexperience {
  grid-area: work;
}
.skills {
  grid-area: skill;
}
footer {
  grid-area: foot;
}
/* containner end */

/* header rules start*/
header::before {
  content: url(media/paper.png);
  top: -55px;
  left: 55px;
  background-color: transparent;
  position: absolute;
  transition: 0s;
}
header::after {
  content: url(media/paper.png);
  top: -55px;
  right: 55px;
  position: absolute;
  background-color: transparent;
}
header {
  text-align: center;
  position: relative;
}
header h1 {
  margin: 1% 0;
}
header h3 {
  margin: 1% 0;
}
header h3 span {
  animation-name: title;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes title {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h3 span {
  background-color: #f0db4f;
  font-size: 30px;
  margin-right: 5px;
  cursor: crosshair;
}
/* header rules end*/

/* About me wraper start */
.about {
  position: relative;
  padding: 20px;
}
.about::first-letter {
  margin-left: 20px;
}

.about::before {
  content: "About Me";
}
/* About me wraper end */

/* Wordk experience wraper start */
.workexperience {
  padding: 20px;
  position: relative;
}

.workexperience::before {
  content: "Work Experience";
}

.section-article {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.workplace {
  position: relative;
}
.workplace:before {
  position: absolute;
  content: "";
  height: 50%;
  border-left: 3px solid #ff0000;
  border-right: 3px solid #999999;
  left: -10px;
  top: 0;
}

.work-text {
  position: relative;
}

.js-developer {
  font-weight: bold;
  margin-bottom: 5px;
}
/* Wordk experience wraper end */

/* Skills wraper start*/
.skills {
  position: relative;
  padding: 20px;
}

.skills::before {
  content: "Skills";
  left: 20px;
}

.figure-image {
  padding-top: 15px;
}
.imagehover {
  display: flex;
  align-items: center;
  position: relative;
}

img {
  width: 30px;
  height: 30px;
}

.skill {
  font-weight: bolder;
  padding: 2px;
  cursor: not-allowed;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  background-color: #ff0000;
  padding: 5px;
  top: -10px;
  color: #ffffff;
  transform: rotate(35deg);
}

.imagehover:hover .tooltip {
  visibility: visible;
  position: absolute;
  cursor: not-allowed;
  z-index: 1;
}
/* Skills wraper end*/

/* footer start */
footer {
  position: relative;
  padding: 20px;
}
footer:before {
  content: "Contact";
  position: absolute;
}
.detail {
  padding-left: 5%;
}
.detail div {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 1%;
  border-left: 1px solid red;
}
.detail div span {
  font-weight: bold;
}

/* footer end */
